*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --blue: #0066f0;
  }

body{
    background: url(pic/bg.jpg);
    color: var(relative);
}

header{
    
    width: 100%;
    
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    height: 100px;
    
    
    align-content: center;
    
}


.self{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

}

.navi nav ul{
    display: flex;
}

.logo{
    height: 80px;
    border: 3px solid white;    
}




nav ul{
    list-style-type: none; 
    transition: left 0.3s;
    justify-content: space-between;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    background-color: #0068f0;
    border-radius: 10px;
    margin-right: 10px;
    

}

nav ul li a{ 
    color: white;
    font-weight: bold;
    
    transition: 0.3s;
    text-decoration: none;

}

ul li a:hover{
    color: var(--blue);
    background-color: white;
}

ul li:hover{
    color: var(--blue);
    background-color: white;
}

.info{
    margin-left: 7%;
    margin-top: 6%;

}


.info h1{
    font-size: 35px;
    color: rgb(36,32,30);
    margin-bottom: 20px;
}



.info span{
    color: rgb(230,104,58);
}

.info a{
    text-decoration: none;
    color: white;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 16px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}



.info a:hover{

    background: var(--blue);
}

.image{
    
    padding: 50px;
    
    
}

.image .boy{

    max-width: 400px;
    transition: all 0.5 ease;

}

content{
    display: flex;
    
}

.image:hover .boy{
    transform: translateX(30px);
}

.btn{
    display: inline-block;
    background: var(--blue);
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover{
    background-color: white;
    color: var(--blue);
}

.icons{
    width: 100%;
    height: 100px;
    
}

.icons .som{
    height: 100px;
}

.bx{
    font-size: 50px;
    padding: 10px;
}

.bx:hover{
    color: #0066f0;
    cursor: pointer;
    
}

.intro-text h2{
    font-size: 20px;
    line-height: 1;
}

.intro-text p{
    color: var(--second-color);
    font-size: 15pt;
    font-family: cursive;
    line-height: 1.8;
    
}

.about{
    display: flex;
    text-align: center;
    color: white;
    width: 100%;
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
   
}
.about a{
     margin-bottom: 200px;
}

.topic{
margin-top: 30px;
background: #ff00cc; 
background: -webkit-linear-gradient(to right, #333399, #ff00cc);
background: linear-gradient(to right, #333399, #ff00cc); 

}


.intro-text h2{

    font-size: 40px;
    line-height: 1;
}

.intro-text p{

    color: var(--second-color);
    font-size: 15pt;
    font-family: cursive;
    line-height: 1.8;
    padding: 100px;
}



.education h2{
    
    margin-bottom: 2em;
    font-size: 40px;
    color: white;
}


.education ul{
    font-size: 2em;
}

.school{

    display: flex;
    justify-content: center;
    padding: 60px;

    

}

.school .box {

    text-align: center;
    height: auto;
    padding: 20px;
    margin-left: 20px;
    border-radius: 20px;
    color: white;
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
 
    


}

.school .box .sc{
    height: 200px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.school .box p{
    font-family: cursive;
    margin-bottom: 30px;
}

.contact{
    
    text-align: center;
    color: white;

    
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

    
}

#contact h2{

    color: white;
    font-size: 40px;
    line-height: 1;

}



.footer{

    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.boxc h3{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.boxc ul{
    
    list-style: none;
        
}

.boxc ul li{
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
}

.boxc ul li:hover{
    color: var(--blue);
}

.creadit{
    width: 100%;
    color: rgb(237, 24, 24);
    padding: 70px;
    padding-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    
    
}

.creadit .par{
    max-width: 400px;
}

.icons2{
    display: flex;
}

.icons2 .bx{
    font-size: 20px;
}
